//
// Config file for nextflow wf-singlecell on slurm


params {
    threads = 16
    resources_mm2_max_threads = 16
    resources_mm2_flags = "-I 160G"
}

executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '1 sec'
    maxRetries = 3
}

slurm {
    partition = 'norm'
    time = '96:00:00'
    cpus = 16
    memory = '320GB'
}
